.ecommerce{
    display: flex;
    flex-direction: column;
    
    .apresentacao-ecommerce{
        display: flex;
        flex-direction:  row;
        padding: 5vw;
        /*  background-color: black; */
    
        .imagem{
            width: 60%;
            height: auto;
        }
    }

    .ferramentas{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        .logo{
            width: 80px;
            height: auto;
        }
    }

    @media screen and (max-width: 500px) {
        .apresentacao-ecommerce{
            padding: 5vw 5vw 0 5vw;
        }

        .ferramentas{

            .logo{
                width: 40px;
            }
        }
    }
}